@import "./mixins";

%h1 {
  font-family: Schnyder, sans-serif;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: bold;
  line-height: 142%;
  letter-spacing: normal;

}

.big-text {
  font-family: Schnyder, sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  letter-spacing: normal;

}

%h2 {
  font-family: Schnyder, sans-serif;
  font-size: 2vw;
  font-style: bold;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

%body-text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.02vw;
}

.body-text-secondary {
  @extend %body-text;
  font-family: Schnyder, sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

%link {
  @extend %body-text;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

body {
  @extend %body-text;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

a {
  @extend %link;
}

.secondary {
  color: $g-60;
}
